/**
 * Ena Markovic, vXchnge
 *
 * Style sheet for index.html
 */
.cab {
	border: 1px solid black;
	position: absolute;
}

.btn {
	width: 100%;
	margin-bottom: 5px;
}

#outer {
	position: absolute;

	#canvas {
		position: absolute;
		height: 2000px;
		width: 2000px;
	}

	#dcArea {
		position: relative;
	}

	#loading {
		height: 100px;
		width: 100px;
		margin-left: 443.5px;
		margin-top: -25px;
	}
}

#info {
	position: fixed;
	right: 100px;
	top: 100px;
	width: 300px;
	height: 100px;

	border: 2px solid black;

	padding: 5px;
	text-align: center;
}

