<!-- Ena Markovic, vXchnge -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Data Center Visualization</title>	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- Style -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head> 
<body>

<div id="initial">
	<div class="page-header" style="text-align: center;">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<h1>Choose a data center.</h1>
			</div>
			<div class="col-md-4"></div>
		</div>		
	</div>
	<div class="jumbotron">
		<div class="container">

		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
		    	<button class="btn btn-default" type="submit" id="ca01">CA01 - Santa Clara</button>
		    	<button class="btn btn-default" type="submit" id="nj01">NJ01 - Secaucus</button>
		    	<button class="btn btn-default" type="submit" id="nj02">NJ02 - Jersey City</button>
		    	<button class="btn btn-default" type="submit" id="ny03">NY03 - Brooklyn</button>
		    	<button class="btn btn-default" type="submit" id="oh01">OH01 - Cleveland</button>
			</div>
			<div class="col-md-4"></div>
		</div>	    	
		</div>
	</div>	
</div>

	<div id="outer" style="display: none;">
		<canvas id="canvas"></canvas>
		<div id="dcArea" style="display: none;"></div>
		<img src="img/loading.gif" id="loading">
	</div>

	<script type="text/template" id="template-cab" >
		<div id="<%- id %>" style="top : <%- top %>; left : <%- left %>; width : <%- width %>; height: <%- height %>;" data-toggle="popover" data-placement="bottom" data-content="" data-trigger="hover" data-original-title="" data-html=""></div>	
	</script>

	<script type="text/template" id="template-isle">
		<div class="isle" id="<%- id %>" style="position: absolute; text-alight: center; background-color: #19B5FE; top : <%- top %>; left : <%- left %>; width : <%- width %>; height: <%- height %>;"><%- content %></div>
	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.min.js"></script>
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/paper.js"></script>

	<script type="text/javascript" src="js/json.js"></script>
	<script type="text/javascript" src="js/DrawDC.js"></script>

	<script type="text/javascript" src="js/getData.js"></script>
	<script type="text/javascript" src="js/Cabinet.js"></script>
	<script type="text/javascript">
		window.onload = function () {	
			document.getElementById("ca01").onclick = process;
			document.getElementById("nj02").onclick = process;
			document.getElementById("nj01").onclick = process;
			document.getElementById("ny03").onclick = process;
			document.getElementById("oh01").onclick = process;
		};

		function process() {
			document.getElementById("initial").style.display = "none";
			document.getElementById("outer").style.display = "block";

			var datacenter = this.id;
			paper.setup(document.getElementById("canvas"));
			if (datacenter === "ca01") {
				new DrawDC(ca01);
				paper.view.draw();
				fetchNetSuiteData(datacenter.toUpperCase());				
			} else if (datacenter === "nj02") {
				new DrawDC(nj02);
				paper.view.draw();
				fetchNetSuiteData(datacenter.toUpperCase());				
			} else if (datacenter === "nj01") {
				new DrawDC(nj01);
				paper.view.draw();
			} else if (datacenter === "oh01") {
				new DrawDC(oh01);
				paper.view.draw();
			} else if (datacenter === "ny03") {
				new DrawDC(ny03);
				paper.view.draw();				
			}
		}
	</script>
</body>
</html>