$scale: 5px;
.outer {
	
	height: 164 * $scale;
	width: 53 * $scale;
	position: relative;

	.legend {
		float: left;
	}

	.floor-1 {
		background-color: #EEEEEE;
		margin-left: 49 * $scale;
		height: 63 * $scale;
		width: 58 * $scale;

	}
	.floor-2 {
		background-color: #EEEEEE;
		height: 130 * $scale;
		width: 107 * $scale;
	}

	.cab {
		border: 1px solid black;
		position: absolute;
	}
}	

.display {
	position: fixed;
	right: 100px;
	top: 100px;
	height: 100px;
	width: 200px;
	border: 2px solid grey;
}